.hand{cursor:hand;cursor:pointer;}
.edit_photo{text-align:left;width:250px;height:35px;text-shadow:none;padding-top:5px;padding-left:7px;font-size:18px;color:#333;opacity:1}
.class_box_shadow{width:374px;min-width:200px;min-height:130px;margin:auto;background:#ccc;border:5px solid white;position:relative;box-shadow:0 0 1px rgba(0, 0, 0, 0.8);-moz-box-shadow:0 0 1px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0 0 1px rgba(0, 0, 0, 0.8);}
.sh_bottom{width:100%;height:45%;position:absolute;z-index:-2;bottom:0;right:0;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;-webkit-box-shadow:0px 10px 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 10px 2px rgba(0, 0, 0, 0.2);box-shadow:0px 10px 2px rgba(0, 0, 0, 0.2);}
.sh_bottom:after{content:"";position:absolute;right:0;bottom:0;width:150px;height:100px;z-index:-1;background:rgba(0, 0, 0, 0.2);-moz-box-shadow:20px 30px 17px rgba(0, 0, 0, 0.54);-webkit-box-shadow:20px 30px 17px rgba(0, 0, 0, 0.54);box-shadow:20px 30px 17px rgba(0, 0, 0, 0.54);-moz-transform:skew(10deg,10deg) translate(-40px,-15px);-webkit-transform:skew(10deg,10deg) translate(-40px,-15px);transform:skew(10deg,10deg) translate(-40px,-15px);}
.sh_bottom:before{content:"";position:absolute;left:0;bottom:0;width:150px;height:100px;z-index:-1;background:rgba(0, 0, 0, 0.2);-moz-box-shadow:-20px 30px 17px rgba(0, 0, 0, 0.54);-webkit-box-shadow:-20px 30px 17px rgba(0, 0, 0, 0.54);box-shadow:-20px 30px 17px rgba(0, 0, 0, 0.54);-webkit-transform:skew(-10deg,-10deg) translate(40px,-15px);-moz-transform:skew(-10deg,-10deg) translate(40px,-15px);transform:skew(-10deg,-10deg) translate(40px,-15px);}
.box h3{text-align:center;position:relative;top:80px;}
.box{width:70%;height:200px;background:#FFF;margin:40px auto;}
.effect2{position:relative;}
.effect2:before, .effect2:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);-o-transform:rotate(-3deg);-ms-transform:rotate(-3deg);transform:rotate(-3deg);}
.effect2:after{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);right:10px;left:auto;}
.effect4{position:relative;}
.effect4:after{z-index:-1;position:absolute;content:"";bottom:15px;right:10px;left:auto;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 15px 10px #777;-moz-box-shadow:0 15px 10px #777;box-shadow:0 15px 10px #777;-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);-o-transform:rotate(3deg);-ms-transform:rotate(3deg);transform:rotate(3deg);}
.effect6{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect6:before, .effect6:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:50%;bottom:0;left:10px;right:10px;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect7{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect7:before, .effect7:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:0;bottom:0;left:10px;right:10px;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect7:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
.effect8{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect8:before, .effect8:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:10px;bottom:10px;left:0;right:0;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect8:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
.effect5{position:relative;}
.effect5:before, .effect5:after{z-index:-1;position:absolute;content:"";bottom:25px;left:10px;width:50%;top:80%;max-width:300px;background:#777;-webkit-box-shadow:0 35px 20px #777;-moz-box-shadow:0 35px 20px #777;box-shadow:0 35px 20px #777;-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);-ms-transform:rotate(-8deg);transform:rotate(-8deg);}
.effect5:after{-webkit-transform:rotate(8deg);-moz-transform:rotate(8deg);-o-transform:rotate(8deg);-ms-transform:rotate(8deg);transform:rotate(8deg);right:10px;left:auto;}
#message{width:100%;line-height:20px}
.im_table{background-color:#c0c0c0;background:#c0c0c0;}
.imgMessage{width:75px;max-width:75px;border:7px solid #f0f0f0;}
.txtMessage{margin:0px;width:225px;max-width:225px;min-width:225px;}
.imTextarea{word-wrap:break-word;padding-left:35px;position:absolute;bottom:1px;z-index:99999999999999;border:none;border-top:1px solid silver;margin:0px;width:225px;max-width:225px;min-width:225px;height:40px;font-family:Open Sans;font-size:12px;padding-top:10px}
#msg, #msgBody{background:gold;max-width:225px;min-width:225px;width:225px;}
.box{border:1px solid skyblue;height:200px;width:300px;font-family:open sans condensed}
.msgBox{position:absolute;width:200px;height:250px;bottom:1px;z-index:9999;background:red;opacity:1;border:0px solid skyblue}
.usersOnline{width:150px;border:0px solid white;background:none;height:620px;font-size:14px;font-family:Open Sans Condensed;right:0px;top:100px;margin:0;padding:0;margin-right:-10px;z-index:9999999999999}
.g_map{width:100%;height:100%}
.msgHeader{width:200px;height:25px;background:#6370B1;color:#FFF;font-family:Open Sans Condensed;border-radius:2px 2px 0px 0px;font-size:18px}
.msgBody{padding:5px;width:200px;text-align:top;font-family:Open Sans;font-size:12px;border:0px solid silver;overflow-y:scroll;overflow-x:hidden;max-height:200px}
.msgInput{position:fixed;width:100%;height:40px;bottom:0px;border:0px solid silver;}
.msgInputBox{background:#FFF;font-size:12px;font-family:Open Sans;width:200px;height:40px;}
.onlineList{cursor:hand;cursor:pointer}
.msgOuterCont{position:fixed;width:200px;height:250px;bottom:0;right:0px;z-index:9999;background:#fff;border:0px solid grey}
.www_box1{position:relative;width:400px;height:300px;background-color:#fff;box-shadow:0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;border-radius:2% 0% 0% 0%/20% 0% 0% 0%;}
.www_box1:before{position:absolute;z-index:-1;content:"";top:0px;left:0px;width:33%;height:25%;box-shadow:-10px -10px 15px rgba(0,0,0,0.5);-webkit-transform:rotate(7deg) translate(20px,25px) skew(20deg);-moz-transform:rotate(7deg) translate(20px,25px) skew(20deg);-ms-transform:rotate(7deg) translate(20px,25px) skew(20deg);-o-transform:rotate(7deg) translate(20px,25px) skew(20deg);transform:rotate(7deg) translate(20px,25px) skew(20deg);}
.www_box{z-index:-1;position:absolute;background-color:#fff;box-shadow:0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;border-radius:1% 1% 1% 1%/1% 1% 1% 1%;}
.www_box:before{position:absolute;width:80%;height:40%;left:10%;border-radius:50%;z-index:-1;top:0%;content:"";box-shadow:0 -7px 16px rgba(0,0,0,0.4);}
.www_box:after{position:absolute;width:80%;height:40%;left:10%;border-radius:50%;z-index:-1;bottom:0%;content:"";box-shadow:0 7px 16px rgba(0,0,0,0.4);}
.www_box2{position:relative;background-color:none;box-shadow:0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;border-radius:1% 1% 1% 1%/1% 1% 1% 1%;}
.www_wrapper{box-shadow:-1px -1px 15px RGBA(0,0,0,0.5);padding-bottom:0px;overflow-x:none;background:url('../bg/b5.jpg')}
.www_wrapper_dark{box-shadow:-1px -1px 15px RGBA(0,0,0,0.5);padding-bottom:0px;overflow-x:none;background:url('../bg/b00_dark.jpg')}
.www_content{margin-top:0px;width:100%;max-width:100%;overflow-x:none}
.dark_a{width:100%;height:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;display:block;opacity:0.9;}
.dark_b{height:100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;display:none;opacity:1;z-index:10}
.frame{cursor:hand;cursor:pointer;background:#f0f0f0;border:none;width:40%;display:block;position:absolute;z-index:2000;top:292px;left:78px;padding:6px;box-shadow:0px 0px 30px rgba(0,0,0,0.4);font-family:wire one;font-size:24px;text-shadow:1px 1px 0px #fff;}
.polaroid{box-shadow:0px 0px 50px rgba(0,0,0,0.4);width:100%;margin-left:-10px}
.jcrop-holder #preview-pane{display:block;position:absolute;z-index:2000;top:-7px;right:-280px;padding:6px;border:0px rgba(0,0,0,.4) solid;background-color:#f0f0f0;max-width:210px}
#preview-pane .preview-container{width:200px;height:200px;overflow:hidden;background:#f0f0f0;padding:6px;border:none;}
.preview_text{font-family:Open Sans Condensed;font-size:15px;color:#333;}
.jcrop-box{width:200px;height:300px;overflow:hidden;background:#f0f0f0;padding:6px;border:none;}
.preview{background:#f0f0f0;border:none;width:267px;height:327px;display:block;position:absolute;z-index:2000;top:292px;right:-285px;padding:6px;box-shadow:0px 0px 30px rgba(0,0,0,0.4);font-family:wire one;font-size:24px;text-shadow:1px 1px 0px #fff;}
.photo-text{position:absolute;z-index:2001;bottom:0px;left:0px;padding:6px;box-shadow:0px 0px 40px rgba(0,255,255,0.1) inset;font-family:Open Sans Condensed;font-size:15px;text-shadow:1px 1px 1px #fff;color:#333;width:100%;padding-top:10px}
.photo-text-main{background:none;padding:6px;font-family:Open Sans Condensed;font-size:15px;color:#333;}
.www_box5{position:relative;background-color:none;box-shadow:0 1px 5px rgba(0,0,0,0.25), 0 0 100px rgba(0,255,255,0.2) inset;border-radius:1% 1% 1% 1%/1% 1% 1% 1%;cursor:hand;cursor:pinter;}
.www_box6{position:relative;background-color:none;box-shadow:0 1px 5px rgba(0,0,0,0.25), 0 0 100px rgba(0,255,255,0.2) inset;border-radius:1% 1% 1% 1%/1% 1% 1% 1%;cursor:hand;cursor:pinter;}
.www_box3{position:relative;width:400px;height:300px;background-color:#fff;box-shadow:0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;border-radius:0% 0% 1% 0%/0% 0% 20% 0%;}
.www_box3:before{z-index:-1;position:absolute;content:"";width:98%;height:96%;bottom:0px;right:0px;background:#eee;border:1px solid #ccc;box-shadow:1px 1px 8px rgba(0,0,0,0.1);-webkit-transform:skew(2deg,2deg) translate(3px,8px);-moz-transform:skew(2deg,2deg) translate(3px,8px);-ms-transform:skew(2deg,2deg) translate(3px,8px);-o-transform:skew(2deg,2deg) translate(3px,8px);transform:skew(2deg,2deg) translate(3px,8px);}
.www_box3:after{z-index:-1;position:absolute;content:"";width:98%;height:96%;bottom:0px;right:0px;background:#eee;border:1px solid #ccc;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-transform:skew(2deg,2deg) translate(-1px,2px);-moz-transform:skew(2deg,2deg) translate(-1px,2px);-ms-transform:skew(2deg,2deg) translate(-1px,2px);-o-transform:skew(2deg,2deg) translate(-1px,2px);transform:skew(2deg,2deg) translate(-1px,2px);}
.www_box4{position:relative;width:400px;height:300px;background-color:#fff;box-shadow:0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;border-radius:1% 1% 1% 1%/1% 1% 1% 1%;}
.www_box4:before{position:absolute;content:"";width:130%;height:30%;border-left:1px dashed rgba(0, 0, 0, 0.1);border-right:1px dashed rgba(0, 0, 0, 0.1);background:rgba(0, 0, 0, 0.1);background:-webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));background:-moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));background:-ms-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));background:-o-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));background:linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));box-shadow:0px 0px 3px rgba(0,0,0,0.15);-webkit-transform:translate(44px,-10px) skew(0deg) rotate(-45deg);-moz-transform:translate(44px,-10px) skew(0deg) rotate(-45deg);-ms-transform:translate(44px,-10px) skew(0deg) rotate(-45deg);-o-transform:translate(44px,-10px) skew(0deg) rotate(-45deg);transform:translate(44px,-10px) skew(0deg) rotate(-45deg);}
.www_box4:after{position:absolute;content:"";right:0;left:0;width:130%;height:30%;border-left:1px dashed rgba(0, 0, 0, 0.1);border-right:1px dashed rgba(0, 0, 0, 0.1);background:rgba(0, 0, 0, 0.1);background:-webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));background:-moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));background:-ms-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));background:-o-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));background:linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));box-shadow:0px 0px 3px rgba(0,0,0,0.15);-webkit-transform:translate(-44px,10px) skew(0deg) rotate(-45deg);-moz-transform:translate(-44px,10px) skew(0deg) rotate(-45deg);-ms-transform:translate(-44px,10px) skew(0deg) rotate(-45deg);-o-transform:translate(-44px,10px) skew(0deg) rotate(-45deg);transform:translate(-44px,10px) skew(0deg) rotate(-45deg);}
ul.ui-autocomplete {
      width:100%;
	  position:absolute;
	  bottom:0;
	  left:0;
	  font-size:18px!Important;
	  font-family:Open Sans
	 }
ul.ui-autocomplete li.ui-menu-item {
      width: 100%;
      float: left;
	  background:#fcfcfc;
	  padding:2px;
	  font-size:18px!Important;
	  font-family:Open Sans
}
ul.ui-autocomplete {
      width:100%;
	  position:absolute;
	  bottom:0;
	  left:0;
	  font-size:18px!Important;
	  font-family:Open Sans
	 }
ul.ui-autocomplete li.ui-menu-item {
      width: 100%;
      float: left;
	  background:#fcfcfc;
	  padding:2px;
	  font-size:18px!Important;
	  font-family:Open Sans
}
.genActive {
	cursor:hand;
	cursor:pointer;
	padding:10px;
	height:35px;
	width:140px;
	background:white;
	border-radius:6px;
	border:1px solid white;
	margin:5px
}
.genPassive {
	cursor:hand;
	cursor:pointer;
	padding:10px;
	height:35px;
	width:140px;
	background:none;
	border-radius:6px;
	border:0px solid white;
	margin:5px
}
