		.outer{
			background:url(assets/bs7.png);
			height:600px!Important;
			max-width:800px!Important;
			left:0!Important;
			right:0!Important;
			border-radius:12px;
			top:0!Important;
			bottom:0!Important;
			margin:auto!Important;
			background-size:cover!Important;
			z-index:9999999999999999!Important;
			position:absolute!Important;
			opacity:1!Important

		} 
		#headline {
			width:100%;
			font-size:36px;
			padding:20px;
			padding-bottom:5px;
			height:70px
		}

		#title {
			width:100%;
			font-size:24px;
			font-family: Open Sans;
			padding:5px;
			height:40px;
			margin-top:-40px;
		}
		#print {
			width:100%;
			font-size:21px;
			padding:5px;
			font-weight: bolder;
			height:30px;
			margin-top:-70px;
			letter-spacing:1.5px;
			color:#000!Important

		}
		#timer_block {
			height:35px!Important;
			padding:5px;
			font-size:24px;
			color:white;
			text-align:center;
			border-radius:0 4px 4px 0;
			margin-left:10px;
			margin-right:10px;
			opacity:1
		}
		#highest_bid {
			height:35px!Important;
			padding:5px;
			font-size:24px;
			color:white;
			text-align:center;
			border-radius:0 4px 4px 0;
			margin-left:10px;
			margin-right:10px
		}
		#amount_asking {
			height:35px!Important;
			padding:5px;
			font-size:48px;
			color:white;
			text-align:center;
			font-weight:bolder;
			border-radius:0 4px 4px 0;
			margin-left:10px;
			margin-right:10px
		}
		#highest_bidder {
			height:35px!Important;
			padding:5px;
			font-size:24px;
			color:white;
			text-align:center;
			border-radius:0 4px 4px 0;
			margin-left:10px;
			margin-right:10px
		}
		#amount_reserve {
			height:35px!Important;
			font-size:24px;
			padding:5px;
			color:white;
			border-radius:0 4px 4px 0;
			margin-left:10px;
			margin-right:10px
		}
		#clock {
			width:100%;
			font-size:24px;
			padding:5px;
			color:white;
		}
		#user_row_bg {
			bottom:0;
			left:0;
			width:100%;
			opacity:1;
			position:fixed;
			height:70px;
		}
		#user_row {
			bottom:0;
			left:0;
			width:100%;
			opacity:1; 
			color:white;
			padding:10px;
			font-size:32px;
			font-weight:bolder;
			height:70px;
			position:fixed;

		}
		.btn_minus {
			width:80px;
			height:80px;
			border-radius:80px;
			font-size:32px;
			color:white;
			padding:10px 
		}
		.btn_bid {
			width:120px;
			height:120px;
			border-radius:120px;
			font-size:54px;
			color:#333;
			background:url(assets/sbg.jpg);background-size:cover;
			padding:10px
		}
		
		.bb1 {
			background:url(assets/bshade0.png) no-repeat;
			background-size:cover;
			height:35px;
		}
		.gshade {
			background:url(assets/gshade.png) no-repeat;
			height:140px;
			opacity:1;
			position:absolute;
			margin:0!Important;
			margin-left:-5px!Important;
			z-index:-1!Important;
			margin-top:30px
		}
		.lcd {
			background:url(assets/lcd5.png) no-repeat;
			height:140px;
			opacity:1;
			position:absolute;
			margin:0!Important;
			margin-left:-5px!Important;
			z-index:-1!Important;
			margin-top:30px
		}
		.og {
			background: rgba(252,234,187,1);
			background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
			background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
height:40px;		}

		.ob {
background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );		
height:40px;
}

		.bshade {
			background:url(assets/bshade.png) no-repeat;
			height:120px;
			opacity:1!Important;
			position:absolute;
			margin:0!Important;
			margin-left:-5px!Important;
			z-index:-1!Important;
			margin-top:30px
		}
		.rshade1{
			background:url(assets/rshade1.png) no-repeat;
			height:140px;
			opacity:1;
			position:absolute;
			margin:0!Important;
			margin-left:-5px!Important;
			z-index:-1!Important;
			margin-top:30px
		}
		.rshade2{
			background:url(assets/rshade2.png) no-repeat;
			height:140px;
			opacity:1;
			position:absolute;
			margin:0!Important;
			margin-left:-5px!Important;
			z-index:-1!Important;
			margin-top:30px
		}
		.btn_plus {
			width:80px;
			height:80px;
			border-radius:80px;
			font-size:32px;
			color:white;
			padding:10px
		}
		.relative{
			position:relative;
		}
		.bx{
			background: rgba(76,76,76,1);
			background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
			background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
			background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
			background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
			background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
		}
		.w80 {
			max-width:175px!Important;
			width:175px!Important
		}
		.x_detail {
			font-size:18px!Important;
			color:#f0f0f0!Important;
			min-height:35px;
			height:35px;
			max-height:35px;
			background:#000!Important;
			border-radius:4px;
			padding:`0px
		}
		*{font-family:Big Shoulders Text!Important;color:white!Important;font-weight:100}
