h1,h2,h3,h4,h5,h6{
	font-weight:300;
	text-transform:upperCase;
	margin:5px
}

.dropzone dz-preview{
  border: 5px solid silver;
  height:300px;
  width:100%;
  border-radius: 0px;
  background: blue;
  padding: 0px;
  margin:0px;  background-color: aliceblue;border:10px solid white;
}
.dropzone .dz-preview.dz-image-preview {
	background-color: aliceblue;border:10px solid white;
}
.dropzone .dz-default .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: #f0f0f0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin:0;
  position:fixed;
  left:0;
  top:0;
}
