@font-face {
    font-family: 'Ancient Geometry';
    src: url('Ancient-Geometry.woff2') format('woff2'), url('Ancient-Geometry.woff') format('woff'), url('Ancient-Geometry.svg#Ancient-Geometry') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Austin';
    src: url('Austin.woff2') format('woff2'), url('Austin.woff') format('woff'), url('Austin.svg#Austin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Angellife';
    src: url('Angellife.woff2') format('woff2'), url('Angellife.woff') format('woff'), url('Angellife.svg#Angellife') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gothik Steel';
    src: url('GothikSteel.woff2') format('woff2'), url('GothikSteel.woff') format('woff'), url('GothikSteel.svg#GothikSteel') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Malista Alternates';
    src: url('MalistaAlternates.woff2') format('woff2'), url('MalistaAlternates.woff') format('woff'), url('MalistaAlternates.svg#MalistaAlternates') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giddyup Std';
    src: url('GiddyupStd.woff2') format('woff2'), url('GiddyupStd.woff') format('woff'), url('GiddyupStd.svg#GiddyupStd') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosewood Std';
    src: url('RosewoodStd-Regular.woff2') format('woff2'), url('RosewoodStd-Regular.woff') format('woff'), url('RosewoodStd-Regular.svg#RosewoodStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beautiful Bloom';
    src: url('BeautifulBloom-Regular.woff2') format('woff2'), url('BeautifulBloom-Regular.woff') format('woff'), url('BeautifulBloom-Regular.svg#BeautifulBloom-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tekton Pro';
    src: url('TektonPro-BoldCond.woff2') format('woff2'), url('TektonPro-BoldCond.woff') format('woff'), url('TektonPro-BoldCond.svg#TektonPro-BoldCond') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brush Script Std';
    src: url('BrushScriptStd.woff2') format('woff2'), url('BrushScriptStd.woff') format('woff'), url('BrushScriptStd.svg#BrushScriptStd') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Debby';
    src: url('Debby.woff2') format('woff2'), url('Debby.woff') format('woff'), url('Debby.svg#Debby') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Terminator Real NFI';
    src: url('TerminatorRealNFI.woff2') format('woff2'), url('TerminatorRealNFI.woff') format('woff'), url('TerminatorRealNFI.svg#TerminatorRealNFI') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    color: #333
}