/*=======================================================================
* Template Name: Anfra
* Template URI: http://uigigs.com/html/Anfra
* Author: Uigigs
* Author URI: http://uigigs.com/
* Description: Virtual Corona Prediction
* Version: 1.0
* License: GPL v2 or later
* License URI: http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
* Tags: html, template, Anfra, Covid19, Virtual Corona Test, Corona
======================================================================= */

/*----------------------------------------------
	1.0 General Style
-----------------------------------------------*/

.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pt60 {
    padding-top: 60px;
}

.pb60 {
    padding-bottom: 60px;
}

.pt70 {
    padding-top: 70px;
}

.pb70 {
    padding-bottom: 70px;
}

.pt80 {
    padding-top: 80px;
}

.pb80 {
    padding-bottom: 80px;
}

.pt100 {
    padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.pt130 {
    padding-top: 130px;
}

.pb130 {
    padding-bottom: 130px;
}

.pt150 {
    padding-top: 150px;
}

.pb150 {
    padding-bottom: 150px;
}

.pt180 {
    padding-top: 180px;
}

.pb180 {
    padding-bottom: 180px;
}

.pt200 {
    padding-top: 200px;
}

.pb200 {
    padding-bottom: 200px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #546274;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: inherit;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    line-height: 1.85;
    font-size: 1.4rem;
    color: #546274;
    margin: 0;
    padding: 0;
}

a {
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    outline: none;
    text-decoration: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    outline: none;
}

textarea {
    resize: none;
}

input::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #546274;
}

input:-moz-placeholder,
.form-control:-moz-placeholder {
    color: #546274;
}

input::-moz-placeholder,
.form-control::-moz-placeholder {
    color: #546274;
}

input:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: #546274;
}

button,
.btn {
    border: 0;
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.primary-color {
    color: #1e85ff;
}

.primary-bg {
    background: #1e85ff;
}

.white-text {
    color: #ffffff;
}

.white-bg {
    background: #ffffff;
}

.ugf-bg {
    background-size: cover;
}

/*------------------------------------------
	Responsive
-------------------------------------------*/

@media (max-width: 991px) {
    .right-content-md {
        margin-top: 30px;
    }
}

@media all and (max-width: 767px) {
    .right-content-sm {
        margin-top: 30px;
    }
}